include README.md
recursive-include octoprint_UsePreviousProbeMeasurements/templates *
recursive-include octoprint_UsePreviousProbeMeasurements/translations *
recursive-include octoprint_UsePreviousProbeMeasurements/static *
